################################################################
#Uncomment the following and customize for your project
#
#PIPELINE_JOB_SUBMITTER_OPTS="-Dpipeline.tmp=DIR_PATH_TO_PIPELINE_TMP_DIR -DuserShell=NA  -Djava.library.path=DIR_PATH_TO_DRMAA_JAR -DaliasHost=http://localhost:8080 -Dout.location=:DIR_PATH_TO_SGE_OUT_FILES -Dcwd.location=_OPTIONAL_DIR_PATH_TO_CWD"
#
################################################################
